# Ignore Python virtual environments
venv/

# Byte-compiled files
*.pyc
__pycache__/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Logs
*.log
*.sqlite3
